*{
    margin: 0;
    padding:0;
}

header{
    margin:10px;
}

main{
    display: flex;
    flex-direction: row;
    margin:10px;
    justify-content: center;
}

.section-1, .section-2{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.section-1{
    background-color: aqua;
}

.section-2{
    background-color:crimson;
}

.img-looking{
    width: 30%;
}